= render partial: 'menu'

- if current_user.authenticated?
  .tag.is-medium= total_time
  %br
  %br
  = form

  %div
    - time_entries.each do |entry|
      .tag.is-medium.is-primary.time-entry{ style: "width: #{entry.minutes*2}px" }
        = entry.minutes
        = destroy_form(entry)
