= render partial: 'menu'

- if current_user.authenticated?
  = form

  %div
    - time_entries.each do |entry|
      .tag.is-primary.time-entry{ style: "width: #{entry.minutes*1.6}px" }
        = entry.minutes
        = destroy_form(entry)
